<html>
  <head>
    <style>
      body {
      font-family: verdana, sans-serif;
      width: 980px;
      height: 620px;
      }

      div.story {
      width: 450px;
      height: 300px;
      float: left;
      border: 1px solid black;
      margin-right: 10px;
      margin-bottom: 10px;
      padding: 10px;
      page-break-inside: avoid;
      }

      div.name {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
      }
      div.info {
      font-size: 18px;
      float: left;
      width: 70%;
      }
      div.index {
      float: left;
      font-size: 24px;
      padding: 20px;
      padding-top:15px;
      width:20px;
      height:20px;
      border: 1px solid black;
      border-radius: 30px;
      }
    </style>
  </head>
  <body>
    {% for story in stories %}
    <div class="story">
      <div class="name">{{ story.name }}</div>
      <div class="info">
        <label for="id">ID:</label> <span id="id">{{story.id}}</span>
        <br>
        <label for="status">Status:</label> <span id="status">{{story.current_state}}</span>
        <br>
        <label for="created_on">Created on:</label>
        <span id="created_on">{{story.created_at.strftime("%d.%m.%Y")}}</span>
        <br>
        <label for="estimate">Estimate:</label>
        <span id="estimate">{{story.estimate}}</span>
      </div>

      <div class="index">{{story.index}}</div>
    </div>
    {% endfor %}
  </body>
</html>
